<h1>See your task details here</h1>

<h1><%@task%></h1>
<h1><%@done%></h1>

<h2><%= @task.created_at.strftime("created at %b %d, %Y, %H:%M") %></h2>
<h1><%= link_to 'go back to tasks', tasks_path(@task) %></h1>









